# Hypothesis Testing Exercise

     TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences

Minitab File: CustomerOrderForm.mtw

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [2]:
df = pd.read_csv(r'Costomer+OrderForm.csv')

In [3]:
df

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [4]:
df.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [5]:
df.tail()

    Phillippines   Indonesia       Malta       India
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

In [6]:
df.sample(5)

    Phillippines   Indonesia       Malta       India
133   Error Free  Error Free  Error Free  Error Free
225   Error Free   Defective  Error Free  Error Free
59     Defective  Error Free  Error Free  Error Free
285   Error Free  Error Free  Error Free   Defective
36    Error Free  Error Free  Error Free  Error Free

In [7]:
df.info

<bound method DataFrame.info of     Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]>

In [8]:
df.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [9]:
audit1 = pd.DataFrame(df['Phillippines'].value_counts())

In [10]:
audit1

            Phillippines
Error Free           271
Defective             29

In [11]:
audit2 = pd.DataFrame(df['Indonesia'].value_counts())

In [12]:
audit2

            Indonesia
Error Free        267
Defective          33

In [13]:
audit3 = pd.DataFrame(df['Malta'].value_counts())

In [14]:
audit3

            Malta
Error Free    269
Defective      31

In [15]:
audit4 = pd.DataFrame(df['India'].value_counts())

In [16]:
audit4

            India
Error Free    280
Defective      20

In [17]:
merge1 = pd.merge(audit1,audit2, left_index=True, right_index=True)

In [18]:
merge2 = pd.merge(audit3,audit4, left_index=True, right_index=True)

In [19]:
audit = pd.merge(merge1,merge2, left_index=True, right_index=True)

In [20]:
audit

            Phillippines  Indonesia  Malta  India
Error Free           271        267    269    280
Defective             29         33     31     20

In [21]:
data = [[271, 267, 269, 280], [29, 33, 31, 20]]

In [22]:
stat, p_value, dof, expected = stats.chi2_contingency(data)

print(stat)
print(p_value)
print(dof)
print(expected)

3.858960685820355
0.2771020991233135
3
[[271.75 271.75 271.75 271.75]
 [ 28.25  28.25  28.25  28.25]]

In [23]:
print(f"p-value for Chi-Square Test: {p_value}")
print(f"Test Statistics : {stat}")

p-value for Chi-Square Test: 0.2771020991233135
Test Statistics : 3.858960685820355

In [24]:
alpha = 0.05

if p_value < alpha:
    print('We are rejecting Null Hypothesis')
else:
    print('We are accepting Null Hypothesis')

We are accepting Null Hypothesis